.title {
    position: absolute;
    font-size: 5vw;
    font-weight: 300;
    text-align: center;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 5vh;
    left: 0;
    z-index: 1;
}
  
.content {
    position: absolute;
    font-size: 3vw;
    font-weight: 300;
    text-align: left;
    margin: 0;
    width: 100%;
    padding-left: 2vw;
    padding-top: calc(5vh + 8vw); 
    z-index: 1;
}

.box.education .content {
    text-align: center;
    padding-left: 0;
}

.box.certification .content {
    text-align: center;
    padding-left: 0;
}