.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden !important;
}

.introduction::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  
  background-image: url("../../../data/background/background.png");
  background-position: calc(100% + 50vw) center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn 1s ease-in 0.5s forwards;

  opacity: 0;
  z-index: 0; 
}

.introduction-title {
  font-size: 5vw;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.introduction-subtitle {
  font-size: 3vw;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.introduction-click {
  font-size: 3vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  
  z-index: 1;
}

.introduction-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    
    width: 100%;
    margin: 0 auto;
    
    font-size: 2vw;
    font-weight: 300;
}

.fade-in {
  animation: fadeIn 0.5s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.move-up {
    animation: moveUp 1s ease-in-out forwards;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-35vh);
    }
}

@media screen and (max-width: 768px) {
  .introduction::before {
    background-position: calc(50% + 50vw) center;  
  }
  .introduction-content {
    font-size: 4vw;
  }
  .introduction-click {
    bottom: 12vh; 
  }
}