.matter-container {    
    background-color: white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0 0 50px 50px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(124, 123, 123, 0.1);
}

.matter-canvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    box-sizing: border-box;
}