.box {
  position: relative;
  border-radius: 20px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  transition: all 0.8s ease-in-out, background-color 0.5s ease-in-out;
}

.fullscreen-active {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 1000;
  border-radius: 0 !important;
  transition: all 0.8s ease-in-out;
  overflow-y: auto;
  overflow-x: hidden;
}

.box-data {
  align-self: flex-start;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
}

.box-image {
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  object-fit: contain;
  z-index: 0;
}

.box-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  text-align: center;
  color: white;
  margin: 0;
}